@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

:root {
  --bg-color: #09051e;
  --text-color: #ffffff;
  --main-color: #05f29b;
  --second-color: #592abf;
  --gray-color: #9398a4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

img {
  pointer-events: none;
}

/* ------------------------------------------------------------ */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}

.navbar {
  display: flex;
  align-items: center;
}

#logo {
  fill: var(--main-color);
  width: 4rem;
  height: 4rem;
}

.navbar > a {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  display: none;
  font-size: 3.2rem;
  color: var(--text-color);
}

/* ------------------------------------------------------------ */

#circle1 {
  position: absolute;
  top: -700px;
  left: -450px;
  height: 1052px;
  width: 1052px;
  border-radius: 50%;
  background-color: var(--second-color);
  opacity: 0.3;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  pointer-events: none;
}

#circle2 {
  position: absolute;
  top: 300px;
  left: 1200px;
  height: 1052px;
  width: 1052px;
  border-radius: 50%;
  background-color: var(--main-color);
  opacity: 0.3;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  pointer-events: none;
}

#circle3 {
  position: absolute;
  height: 1800px;
  top: -750px;
  left: -200px;
  z-index: 200;
  pointer-events: none;
}

#circle4 {
  position: absolute;
  top: 750px;
  left: -250px;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background-color: var(--second-color);
  opacity: 0.3;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  pointer-events: none;
}

#circle5 {
  position: absolute;
  top: 1850px;
  left: -250px;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background-color: var(--second-color);
  opacity: 0.3;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  pointer-events: none;
}

/* ------------------------------------------------------------ */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 300;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2;
  font-style: italic;
}

.home-content p {
  font-size: 1.6rem;
  line-height: 1.4;
  font-style: italic;
  margin: 1rem;
}

.home .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 2rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--main-color);
}

.home .btn:hover {
  box-shadow: none;
}

#mouse-icon {
  font-size: 3.6rem;
  position: absolute;
  color: var(--text-color);
  top: 85%;
  left: calc(50% - 1.8rem);
}

/* ------------------------------------------------------------ */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.about-img img {
  width: 35vw;
  align-items: center;
}

.about-content h2 {
  font-size: 4.8rem;
  text-align: left;
  line-height: 1.2;
  font-style: italic;
}

.about-content span {
  color: var(--second-color);
}

.about-content p {
  text-align: justify;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  line-height: 1.4;
}

.about .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--second-color);
  border-radius: 2rem;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--second-color);
}

.about .btn:hover {
  box-shadow: none;
}

/* ------------------------------------------------------------ */

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.education-content h2 {
  font-size: 4.8rem;
  text-align: left;
  line-height: 1.2;
  font-style: italic;
}

.education-content span {
  color: var(--main-color);
}

.education-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0rem 4rem;
}

.education-grid-item {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
}

.education-grid-item p {
  text-align: left;
  font-size: 1.2rem;
  margin: 1rem 0 1rem;
  line-height: 1.4;
}

.education-grid-item .hexagon {
  fill: var(--main-color);
  min-width: 1.6rem;
}

.education-img {
  display: flex;
  align-items: center;
  justify-content: right;
}

.education-img img {
  width: 30vw;
  align-items: center;
}

#education-glow {
  position: absolute;
  top: 1500px;
  left: 850px;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background-color: var(--main-color);
  opacity: 0.4;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  pointer-events: none;
  z-index: -1;
}

/* ------------------------------------------------------------ */

.education2 {
  min-height: 70vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.education2-content {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.education2-content h2 {
  font-size: 4.8rem;
  text-align: center;
  line-height: 1.2;
  font-style: italic;
}

.education2-content span {
  color: var(--second-color);
}

.education2-content p {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  line-height: 1.4;
}

.education2-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.education2-grid .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 2rem;
  border: 0.25rem solid var(--text-color);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--bg-color);
}

.education2-grid .btn:hover {
  box-shadow: 0 0 2rem var(--second-color);
  background-color: var(--second-color);
  border: 0.25rem solid var(--second-color);
}

.education2-grid .btn-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#svg-tvshow {
  width: 24px;
  height: 19.5px;
  fill: var(--text-color);
}

#svg-blog {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

#svg-course {
  width: 19.5px;
  height: 24px;
  fill: var(--text-color);
}

/* ------------------------------------------------------------ */

#wrapper {
  position: relative;
}

.diagonal {
  --skew-angle: -5deg;
  isolation: isolate;
  min-height: 30vw;
  padding: 10rem 9% 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.diagonal::after {
  content: "";
  position: absolute;
  inset: 0;

  background: var(--text-color);
  transform: skewY(var(--skew-angle));
  overflow: hidden;
}

/* ------------------------------------------------------------ */

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text-color);
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
  min-height: auto;
}

.hexagon-wrapper {
  margin-top: -50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}

.svg-diagonal-hexagon {
  width: 471px;
  height: 518px;
  fill: var(--main-color);
  margin-bottom: 0px;
}

.svg-diagonal-hexagon2 {
  margin-top: -60vh;
  width: calc(471px * 0.75);
  height: calc(518px * 0.75);
  fill: var(--text-color);
  margin-bottom: 0px;
}

.services h2 {
  font-size: 4.8rem;
  text-align: center;
  line-height: 1.2;
  font-style: italic;
  color: var(--bg-color);
}

.services span {
  color: var(--main-color);
}

.services-content span {
  color: var(--second-color);
}

.services-content {
  position: relative;
  top: -4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.services-content img {
  width: 20vw;
}

.services-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
}

.services-content-grid p {
  color: var(--bg-color);
  text-align: justify;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  line-height: 1.4;
}

.services-content-grid p:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.services-content-grid p:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.services .btn {
  grid-row: 2;
  display: inline-block;
  width: fit-content;
  justify-self: center;
  grid-column: 1/3;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 2rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--main-color);
}

.services .btn:hover {
  box-shadow: none;
}

/* ------------------------------------------------------------ */

.offer {
  display: flex;
  align-items: center;
  background: var(--text-color);
  gap: 3rem;
  flex-direction: column;
  overflow: hidden;
  padding-top: 0px;
}

.offer h2 {
  font-size: 4.8rem;
  text-align: center;
  line-height: 1.2;
  font-style: italic;
  color: var(--bg-color);
}

.offer span {
  color: var(--main-color);
}

.offer p {
  color: var(--bg-color);
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.4;
}

#offer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  gap: 2rem;
}

.offer-card {
  padding: 4rem;
  box-shadow: inset 0 0 1rem var(--main-color), 0 0 1rem var(--main-color);
  border-radius: 1rem;
}

.offer-card h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-style: italic;
  color: var(--bg-color);
  margin-bottom: 1rem;
}

.offer p {
  color: var(--bg-color);
  text-align: justify;
  font-size: 1.6rem;
  line-height: 1.8;
}

.offer .btn {
  margin: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 2rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--main-color);
}

.offer .btn:hover {
  box-shadow: none;
}

/* ------------------------------------------------------------ */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
  min-height: auto;
}

.hexagon-wrapper {
  margin-top: -50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}

.svg-diagonal-hexagon-dark {
  width: 471px;
  height: 518px;
  fill: var(--second-color);
  margin-bottom: 0px;
}

.svg-diagonal-hexagon2-dark {
  margin-top: -60vh;
  width: calc(471px * 0.75);
  height: calc(518px * 0.75);
  fill: var(--bg-color);
  margin-bottom: 0px;
}

.contact-content {
  display: flex;
  width: 80vw;
  gap: 4rem;
}

.contact-content-left {
  width: 50%;
}

.contact-content-left h2 {
  font-size: 4.8rem;
  text-align: left;
  line-height: 1.2;
  font-style: italic;
  color: var(--text-color);
  margin-top: 2rem;
}

.contact-content-left span {
  color: var(--second-color);
}

.contact-content-left p {
  color: var(--text-color);
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.4;
  width: 75%;
  margin: 3rem 0px;
}

.contact-content-left .btn {
  display: inline-block;
  justify-self: center;
  text-align: center;
  padding: 1rem 2.8rem;
  background: var(--bg-color);
  border: solid var(--text-color) 3px;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact-content-left .btn:hover {
  background: var(--text-color);
  color: var(--bg-color);
}

.contact-content-right {
  width: 50%;
}

.contact-content-right form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contact-content-right input {
  padding: 1.4rem 1.4rem;
  border-radius: 0.7rem;
}

.contact-content-right input::placeholder {
  color: var(--gray-color);
}

#first-name {
  grid-column: 1;
  grid-row: 1;
}

#last-name {
  grid-column: 2;
  grid-row: 1;
}

#phone {
  grid-column: 1;
  grid-row: 2;
}

#email {
  grid-column: 2;
  grid-row: 2;
}

#message {
  padding: 1.4rem 1.4rem 9.8rem;
  grid-column: 1/3;
  grid-row: 3;
}

.terms-wrapper {
  display: flex;
  grid-column: 1/3;
  grid-row: 4;
  gap: 1rem;
}

#termsCheckbox {
  height: 2rem;
  width: 2rem;
}

.contact-content-right a {
  color: var(--main-color);
}

.contact-content-right label {
  color: var(--text-color);
  text-align: justify;
  font-size: 1.4rem;
}

#form-submit {
  margin: 2rem 0;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--second-color);
  border-radius: 2rem;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--second-color);
}

#form-submit:hover {
  box-shadow: none;
}

/* ------------------------------------------------------------ */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 9% 2rem;
  gap: 5rem;
}

#logo-footer {
  fill: var(--main-color);
  width: 8rem;
  height: 8rem;
}

.footer-identity {
  flex: 5 1 auto;
}

.footer-menu {
  flex-direction: column;
  flex: 1 1 auto;
  justify-items: flex-start;
  display: flex;
}

.footer-identity h3 {
  font-size: 2rem;
  text-align: left;
  line-height: 1.2;
  font-weight: 700;
  color: var(--main-color);
  margin-top: 4rem;
}

#facebook-logo {
  fill: var(--text-color);
  width: 11.67px;
  height: 22.49px;
  margin: 1rem;
}

#instagram-logo {
  fill: var(--text-color);
  width: 22.457px;
  height: 22.496px;
  margin: 1rem;
}

#linkedin-logo {
  fill: var(--text-color);
  width: 23px;
  height: 23px;
  margin: 1rem;
}

.footer-menu h3 {
  font-size: 2.8rem;
  text-align: left;
  line-height: 1.2;
  font-weight: 700;
  color: var(--main-color);
}

.footer-contact h3 {
  font-size: 2.8rem;
  text-align: left;
  line-height: 1.2;
  font-weight: 700;
  color: var(--main-color);
}

footer p {
  color: var(--text-color);
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 2rem 0px;
}

footer > hr {
  border: 1px solid var(--text-color);
}
